body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

:root {
    --font-color: #6d6e71;
}


/* There are styles for projects section */

.projects-background {
    margin-top: 50px;
    background-image: url("./images/projects-section-images/projects-background.png");
    background-size: cover;
    background-position: top center;
}

.projects-title {
    display: flex;
    justify-content: center;
    color: var(--font-color);
}

.projects-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 40px;
}

.projects-text-header {
    font-weight: 700;
    font-size: 42px;
    margin: 0;
}

.projects-text {
    margin: 5px 0 0;
}

.projects-section {
    padding-top: 50px;
    padding-left: 3%;
    padding-right: 3%;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

.project {
    width: calc(25% - 15px);
    margin: auto 5px;
    margin-top: 10px;
    height: 284px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 1;
    overflow: hidden;
    padding: 5px auto;
}

.projects-wrapper {
    max-width: 1150px;
    margin: 50px auto;
    padding-bottom: 100px;
}

.project-img-wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    margin-top: 5%;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.project-img {
    max-width: 100%;
    max-height: 90%;
    border-radius: 5px;
    padding: 5px 5px 0;
}

.project-icon-container {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-icon-container::before {
    content: '';
    position: absolute;
    height: 100%;
    border-left: 3px solid #f5f5f5;
}

.project-icon-container>.link,
.more {
    margin: auto auto;
    color: #c7c9ce;
}

.project-icon:hover {
    color: var(--font-color);
    cursor: pointer;
}

.button-flex {
    display: flex;
    margin: 50px 25px;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn {
    min-width: 100px;
    margin: auto 11px;
    padding: 7px 25px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid 2px #cecece;
    color: #cecece;
    outline: 0;
    transition: all 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.project {
    opacity: 0;
    animation: fadeIn 0.95s forwards;
}

.btn:focus {
    background-color: white;
    border: solid 2px white;
    color: var(--font-color);
}


/* End of styles for projects section */

@media only screen and (min-width: 961px) {
    .footer-social{
        grid-template-rows: 85px;
    }
    .form-inline{
        justify-self: end;
        align-self: start;
    }
    .policy{
        grid-template-columns: 2fr 1fr;
    }
}

@media only screen and (max-width: 1050px) {
    .project {
        width: calc((100%/3) - 10px);
    }
}

@media only screen and (max-width: 800px) {
    .project {
        width: calc((100%/2) - 10px);
    }
    .project-icon-container {
        height: 20%;
    }
}

/* section footer */

.map{
    background-image: url("images/map.png");
    /* position: relative; */
    /* height: 100%; */
    background-repeat: repeat;
    background-size: cover;
    /* width: 100%; */
    display: grid;
    justify-items: center;
    /* align-items: end; */
    max-height: 317px;
    /* min-height:  */
    background-position: center;
    /* align-content: start;	 */
}
.contact{  
    grid-gap: 5%;
    margin: 17%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(77, 77, 77);
    font-size: 30px;
    width: 158px;
    justify-items: center;
    position: relative;
    /* align-self: end; */
}
.contact div{
    background-color: rgb(236, 236, 236);
    border-radius: 10%;
    border: 1px solid rgb(155, 155, 155);
    width: 45px;
    height: 45px;
}
.pin{
    position: relative;
}
.pin span{
    display: none;
    padding: 2px 3px;
    margin-left: 8px;
    width: 130px;
}
.pin:hover span{
    border: 1px solid #ccc;
    display: inline;
    position: absolute;
    top: -70px;
    left: -52px;
    font-size: 12px;
    color: rgb(83, 83, 83);
    background-color: white;
    text-align: center;
}
.telephone:hover, .envelope:hover, .pin:hover{
    background-color:  rgb(112, 186, 255);
}
.info{
    color: rgb(77, 77, 77);
    width: 100%;
    height: 160px;
    background-color: #1F1F1F;
    box-sizing: border-box;
    padding-right: 13%;
    padding-left: 13%;
}

.footer-social{
    padding-top: 4%;
    box-sizing: border-box;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1px 30px 1px 30px 1px 30px 1px 30px 10px 1fr;
}
.footer-social a{
    color: rgb(77, 77, 77);
    text-align: center;
    height: 30px;
}
.info .footer-social .form-inline{
    display: flex;
    flex-flow: row nowrap;
    width: 318px;
}
.form-inline input, .form-inline button{
    border: 2px solid rgb(83, 83, 83);
    background-color: #3B3B3B;
    color: rgb(148, 148, 148);
    font-size: 15px;
    margin: 1px;
}
.footer-social .form-inline input{
    width: 300px;
}
.footer-social .form-inline button:hover{
    background-color: rgb(66, 164, 255);
    border: 2px solid rgb(83, 83, 83);
}
.copyright{
    font-size: 10px;
    }
.some-info{
    text-align: end;
}
.dot {
    height: 3px;
    width: 3px;
    background-color: rgb(77, 77, 77);
    border-radius: 50%;
    display: inline-block; 
    }
.vl {
    border-left: 1px solid rgb(77, 77, 77);
    height: 32px;
}
.policy{
    display: grid;
    font-size: 10px;
}
.policy a{
    color: rgb(77, 77, 77);
}


@media only screen and (min-width: 401px) and (max-width: 960px) {
    .info{
        padding-right: 7%;
        padding-left: 7%;
    }
    .footer-social{
        grid-template-rows: 85px;
        /* margin-left: 10px;
        grid-template-columns: 1px 30px 1px 30px 1px 30px 1px 30px 1px;
        justify-content: start;
        grid-row-gap: 19px; */
        
    }
    .footer-social a{
        height: 0px;
    }
    .form-inline{
        justify-self: end;
        align-self: start;
    }
    .policy{
        grid-template-columns: 2fr 1fr;
    }
}

@media only screen and (max-width: 400px) {
    .project {
        height: 150px;
    }
    .project-icon {
        margin: 3px auto;
    }
    .project-img-wrapper {
        max-height: 75%;
    }
    .projects-title {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .projects-text-container {
        margin-top: 5px;
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .button-flex {
        font-weight: 400;
        font-size: 14px;
        margin: 20px 0 10px;
    }
    i.project-icon.link.flaticon-unlink-1::before {
        font-size: 18px;
    }
    i.project-icon.more.flaticon-add-song::before {
        font-size: 18px;
    }
    .info{
        height: 230px;
        padding-right: 0%;
        padding-left: 0%;
        padding-top: 4%;
    }
    .footer-social{
        margin-left: 10px;
        grid-template-columns: 1px 30px 1px 30px 1px 30px 1px 30px 1px;
        justify-content: start;
        grid-row-gap: 19px;
    }
    .info .footer-social .form-inline{
        display: flex;
        flex-flow: row wrap;
        width: 260px;
    }   
    .policy{
        margin: 8px;
        grid-template-rows: 1fr 1fr;
    }
    .copyright{
        text-align: center;
        margin: 10px;
    }
    .some-info{
        text-align: center;
    }
    .policy .copyright .some-info a{
        text-align: center;
    }
}


.meet-our-team{
  max-width: 1300px;
  margin: auto;
  font-family: ﻿"OpenSans-Bold";
  color: #6D6E71;
}
.meet-our-team h3{
  font-size: 2.2em;
  padding:0;
  margin:.5em 0;
}
.meet-our-team .bald-man{
  margin: 0 auto;
  max-width: 650px;
  display: flex;
  flex-flow: row wrap;
}
.meet-our-team article:nth-of-type(1){
  flex: 2;
  /*nie działa (tak jak powinno)
  width: 121px;
  height: 150px;
  */
}
.meet-our-team article:nth-of-type(2){
  flex: 3;
}

img[alt="Bald man"]{
  border-bottom-left-radius: 100%65px;
  border-bottom-right-radius: 100%65px;
}
.team-main{
  margin-top: 75px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  height:  394px;

}
.team-main  li:not(ol) {
  width: 278px;

  background: #F5F5F5;
  border: solid 5px white;
  border-radius: 3%;
}

.team-main  li img:not(ol){
  display: flex;
  margin: 40px auto 20px auto;
  /*background: white 150px 150px;*/
  border: white 5px solid;
  border-radius: 50%

}
.team-main p{
  text-align: center;
}
.team-main h4{
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}

.team-main  ol{
  align-self: flex-start;
  border: 20px white solid;
  padding: 0;
  list-style: none;
  display: flex;
  background-color: white;
  justify-content: space-between;
  box-sizing: content-box;
}
.team-main ol li img{
  width: auto;
  margin: 0;
  padding: 0;
  /*background: white 150px 150px;*/
  border: none;
  border-radius: 0
}

.team-main ol li{
  width: 22px;
  flex-direction: row;
  background: white;

}